<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div class="post-header">
			<h1 class="title">{{ .Title }}</h1>
		</div>

		<div class="markdown">
			{{ .Content }}
		</div>
		<div class="post-header">
				<div class="meta">Publicado &mdash; {{ dateFormat "Jan 2, 2006" .Date }} por {{ .Site.Params.author }}</div>
			</div>
		<div class="alert">
				<h2 class="section-header">
					Más de <a href="/acerca-de/">Adolfo Ramírez Corona</a>
				</h2>
				<p>Si te ha gustado este texto, escribo y envío por correo <a href="https://micromeditaciones.substack.com">Micromeditaciones</a> con contenidos exclusivos y originales; te puedes dar de baja cuando quieras.</p>
			 <p><form class="form " action="https://micromeditaciones.substack.com/api/v1/free?nojs=true" method="post" novalidate="true"><input type="hidden" name="first_url" value="https://micromeditaciones.substack.com/embed"><input type="hidden" name="first_referrer" value="https://adolforismos.com/"><input type="hidden" name="current_url" value="https://micromeditaciones.substack.com/embed"><input type="hidden" name="current_referrer" value="https://adolforismos.com/"><input type="hidden" name="referral_code"><input type="hidden" name="source" value="embed"><div class="sideBySideWrap"><input type="email" name="email" placeholder="Escribe tu correo…"><button class="button rightButton primary" type="submit" style=""><b>Suscríbete</b></button></div><div id="error-container"></div><div class="subtle-help-text below-input"></div></form></p>
			</div>

		{{- $.Scratch.Set "isDisqus" true -}}

		{{- if and (isset .Params "type") (in (.Site.Params.disableDisqusTypes | default (slice "page")) .Params.type) -}}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{- end -}}

		{{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
		{{- $.Scratch.Set "isDisqus" true -}}
		{{- end -}}

		{{- if eq ($.Scratch.Get "isDisqus") true -}}
		{{- partial "disqus.html" . -}}
		{{- end -}}
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
