<div class="row section topspace">
<div class="col-md-12">
    <h3>Recibe <strong>Micromeditaciones</strong> en tu correo:</h3>
    <p>Textos breves, reflexiones sencillas, en dosis pequeñas, con contenidos exclusivos y originales; te puedes dar de baja cuando quieras.</p>
    <form method="POST" action="//formspree.io/adolforismos@icloud.com">
<input type="email" name="_replyto" placeholder="Tu correo" size="30"><br>
<input type="hidden" name="_subject" value="Micromeditaciones!" />
<input type="hidden" name="_next" value="https://adolforismos.com/" />
<br><button type="submit">Suscríbete</button>
</form>
    </div>
    </div> <!-- / section -->
