{{ partial "header.html" . }}
<section class="main">
    <div class="container f04">
        <div class="content">
            <div class="num">404</div>
            <div class="detail">La página solicitada no existe.</div>
            <div class="suggestion"><a href="/">Visita la página de inicio para encontrar lo que buscas.</a></div>
            <div class="suggestion"><a href="/podcast/">Si estás buscando los Podcast de El aprendiz de mago o adolforamirez.com puedes ir aquí.</a></div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
