<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		 {{ partial "head.html" . }}
		 <!----<iframe width="100%" height="120" src="https://micromeditaciones.substack.com/embed" frameborder="0" scrolling="no"></iframe>--->
		 <h3>Recibe <strong>Micromeditaciones</strong> en tu correo:</h3>
    <p>Textos breves, reflexiones sencillas, en dosis pequeñas, con contenidos exclusivos y originales; te puedes dar de baja cuando quieras.</p>
		 <p></p><form class="form " action="https://micromeditaciones.substack.com/api/v1/free?nojs=true" method="post" novalidate="true"><input type="hidden" name="first_url" value="https://micromeditaciones.substack.com/embed"><input type="hidden" name="first_referrer" value="https://adolforismos.com/"><input type="hidden" name="current_url" value="https://micromeditaciones.substack.com/embed"><input type="hidden" name="current_referrer" value="https://adolforismos.com/"><input type="hidden" name="referral_code"><input type="hidden" name="source" value="embed"><div class="sideBySideWrap"><input type="email" name="email" placeholder="Escribe tu correo…"><button class="button rightButton primary" type="submit" style=""><b>Suscríbete</b></button></div><div id="error-container"></div><div class="subtle-help-text below-input"></div></form></p>
		 <div class="recent-posts section">
			<h2 class="section-header">
				Textos recientes
			</h2>
			<div class="posts">
				{{- $.Scratch.Set "counter" 0 -}}
				{{- range .Data.Pages -}}
				{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
				{{- else -}}
				{{- if lt ($.Scratch.Get "counter") (.Site.Params.RecentPostsCount | default 10) -}}
				<div class="post">
					<div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}</div>
					<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a> &mdash;
					<span class="description">
						{{ if isset .Params "description" }}
							{{ .Description }}
						{{ else if gt (len .RawContent) 120 }}
							{{ slicestr .RawContent 0 120 }}...
						{{ else }}
							{{ .RawContent }}
						{{ end }}
					</span>
				</div>
				{{- $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) -}}
				{{- end -}}
				{{- end -}}
				{{- end -}}

				<a href="/blog/">Archivo completo →</a>
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
